<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <title>clindsey's cookbook</title>
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://twitter.github.com/bootstrap/1.4.0/bootstrap-modal.js"></script>
    <script type="text/javascript" src="/workshop/vendor/jquery.dotdotdot.js"></script>
    <script type="text/javascript" src="http://use.typekit.com/fyw6spk.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Oswald">
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/cookbook/css/cookbook.css">
  </head>
  <body>
    <div class="container">
      <%= yield %>
      <footer>
        <p>&copy; Chris Lindsey 2011</p>
      </footer>
    </div>
  </body>
</html>
