body {
  margin-top: 60px;
}
section {
  padding-top: 60px;
}

#recipes-list {
  list-style: none;
}

#recipes-list li.recipe {
  padding-top: 16px;
  margin-bottom: 18px;
}

#recipes-list li.recipe:hover {
  background-color: whiteSmoke;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

.recipe div.span6 span {
  float: left;
  padding: 4px;
  margin: 0 0 18px 20px;
  border: 1px solid #DDD;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
}

.recipe div.span6 span img {
  display: block;
}

#recipes-list li.recipe div.span8 a.short-description {
  color: inherit;
  position: absolute;
  width: 460px;
  height: 180px;
  padding: 16px 98px 24px 382px;
  margin: -16px -98px -24px -382px;
}

#recipes-list li.recipe div.span8 a.short-description:hover {
  text-decoration: none;
}

#recipes-list li.recipe div.span8 a.short-description:hover h2 {
  color: #0069D6;
  text-decoration: underline;
}

#recipes-list li.recipe div.span8 a.short-description p {
  max-height: 108px;
  overflow: hidden;
}
