/*
 * Table of Contents -
 *    Tag Overrides
 *    Index/Show Generic
 *    Index Specific
 *    Show Specific
 *    Recipes Filter Specific
*/

/* Tag Overrides */
body {
  background-color: #FBF7E6;
  font-family: ff-tisa-web-pro, Georgia, sans-serif;
}

section {
  padding-top: 60px;
}

a:link,
a:visited {
  color: #F93;
}

a:hover {
  color: #33CC33;
}

p {
  line-height: 20px;
  font-size: 14px;
}

/* Generics for Index/Show */
body > div.container {
  background-color: #FFF;
  border: 1px solid #D3CABD;
  padding:0 32px;
}

.recipe span.thumbnail-well {
  float: left;
  padding: 4px;
  margin: 0 0 18px 0;
  border: 1px solid #DDD;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
     -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
}

.modal a.close {
  color: #000;
}

.recipe span.thumbnail-well img.thumbnail {
  display: block;
}

/* Index Specific */
#filter-btn {
  font-size: 13px;
  font-weight: normal;
}

#recipes-list {
  list-style: none;
  margin-left: 0;
}

#recipes-list li.recipe {
  border-top: solid 1px #DDD;
}

#recipes-list li.recipe div.recipe-border {
  padding-top: 16px;
  margin-bottom: 18px;
  margin-top: 18px;
}

#recipes-list li.recipe a.short-description span.date {
  font-size: 12px;
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Arial, sans-serif;
}

#recipes-list-header,
#recipes-list li.recipe div.recipe-border > div.row {
  margin-left: 0;
}

#recipes-list li.recipe a.short-description h2 {
  color: #F93;
}

#recipes-list li.recipe a.short-description em {
  font-style: normal;
  color: #F93;
}

#recipes-list li.recipe div.recipe-border:hover {
  background-color: whiteSmoke;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
     -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

#recipes-list li.recipe a.short-description:hover {
  text-decoration: none;
}

#recipes-list li.recipe a.short-description:hover h2 {
  color: #33CC33;
}

#recipes-list li.recipe a.short-description:hover em {
  color: #33CC33;
  text-decoration: underline;
}

#recipes-list li.recipe a.short-description {
  color: inherit;
  position: absolute;
  width: 560px;
  height: 180px;
  padding: 16px 60px 24px 320px;
  margin: -16px -60px -24px -320px;
}

#recipes-list li.recipe a.short-description p {
  max-height: 80px;
  overflow: hidden;
}

/* Show Specific */

/* Recipes Filter Specific */
#recipes-filter ul li a {
  width: 152px;
  text-align: center;
}
