<header class="hero-unit">
  <h1>Chris Lindsey's Cookbook</h1>
</header>
<section id="recipes">
  <div id="recipes-list-header" class="row">
    <div class="span16">
      <h1>
        <% unless @category_title.nil? %>
          Recipes with <%= @category_title %>
        <% else %>
          All Recipes 
        <% end %>
        <a href="#" id="filter-btn" data-controls-modal="recipes-filter" data-backdrop="static">filter &rarr;</a>
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="span16" id="list-container">
      <div class="recipes-frame">
        <ul id="recipes-list">
          <%= partial :'recipes/_recipe', :collection => @recipes %>
        </ul>
      </div>
    </div>
  </div>
</section>
<div id="recipes-filter" class="modal hide">
  <div class="modal-header">
    <a href="#" class="close">x</a>
    <h3>Recipes by Ingredients</h3>
  </div>
  <div class="modal-body">
    <ul class="media-grid">
      <li>
        <a href="/cookbook">All</a>
      </li>
      <%= partial :'recipes/_category', :collection => @categories %>
    </ul>
  </div>
  <div class="modal-footer">
  </div>
</div>

<script type="text/javascript">
  jQuery(document).ready(function(){
    jQuery('#recipes-list').find('a.short-description p').dotdotdot();
  });
</script>
