<header class="hero-unit">
  <h1>Chris Lindsey's Cookbook</h1>
</header>
<section id="recipes">
  <div id="recipes-list-header" class="row">
    <div class="span16">
      <h1>
        <% unless @category_title.nil? %>
          Recipes with <%= @category_title %>
        <% else %>
          All Recipes 
        <% end %>
        <a href="#" id="filter-btn" data-controls-modal="recipes-filter" data-backdrop="static">filter &rarr;</a>
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="span16" id="list-container">
      <div class="recipes-frame">
        <ul id="recipes-list">
          <%= partial :'recipes/_recipe', :collection => @recipes %>
        </ul>
      </div>
    </div>
  </div>
</section>
<%= partial :'recipes/_categories', :locals => { :categories => @categories } %>

<script type="text/javascript">
  jQuery(document).ready(function(){
    jQuery('#recipes-list').find('a.short-description p').dotdotdot();
  });
</script>
